<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if request.user.is_authenticated %}
{{ request.user }}
    <a href="{% url 'logout'%}"> Logout</a>
{% else %}
    <a href="{% url 'login'%}">Login</a>
{% endif %}

<h1>Never give up </h1>
<a href="{% url 'create-chore' %}"><h2>Create Chore</h2></a>
{% for chore in chores %}
<p>{{ chore.title }}
    <a href="{% url 'chore' chore.id %}">see details</a>
    <a href="{% url 'edit-chore' chore.id %}"> edit </a>
    <a href="{% url 'delete-chore' chore.id %}">delete</a>
</p>

{% empty %}
<h3> All chores are complete </h3>

{% endfor %}

</body>
</html>