{% extends 'base/my_style.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">

<form method="POST" action="">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="login">
</form>
    </div>
          <div class="col-sm-9">

      <h4><small class="font-weight-bold">CHORES AWAIT</small></h4>
      <hr>
        <p> Login to complete chores, check your account and create new chores.</p>
            <p> Username: Noah</p>
            <p> Password: django123</p>

    </div>
  </div>
</div>

{% endblock content %}