{% extends 'base/my_style.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>{{ request.user }}'s Chores</h4>


      <p><button class="btn btn-info"><a class="text-white" href="{% url 'create-chore' %}">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
      </svg> Create a new chore
      </a></button></p>
        <p><button class="btn btn-primary"><a class="text-white" href="{% url 'unassigned' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
          Claim a new chore</a></button></p>

        {% load static %}
        <p><img style="height=100px;width: 100px;" src="{% static 'base/cleaning.png' %}" alt="cleaning img"></p>


    </div>

    <div class="col-sm-9">

      <h4><small class="font-weight-bold">UNASSIGNED CHORES</small></h4>
      <hr>
      {% for chore in unassigned %}
        <h2>{{ chore.title }}</h2>
        <h6><span class="glyphicon glyphicon-time"></span> Created - {{chore.created}}</h6>
        <p>{{ chore.description }}</p>
      <p><span class="badge badge-success">Earn </span> ${{ chore.value }}</p>
      <p><button class="btn btn-sm btn-danger"><a class="text-white" href="{% url 'edit-chore' chore.id %}">Claim chore</a></span></button> </p>
      <hr>
        {% empty %}
        <p> All chores assigned at this time, check back later gater!</p>

    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}